html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace;
}

#map {
    height: 98vh;
    width: 100vw;
    cursor:default;
}

.leaflet-popup-content {
    font-size: 12pt;
}

.popupTitle {
    font-size: 14pt;
}

.header {
    padding-left: 20px;
    font-size: 14pt;
}

.headerElement {
    display: inline-block;
}

.headerTitle {
    font-weight: bold;
}